/* @tailwind base;
@tailwind components;
@tailwind utilities; */


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

#customButton{
  border-radius: 0.75rem !important;
  border: none !important;

}
#customButton:hover{
  border-radius: 0.75rem !important;
}

#locationCustomButton{
  border-radius: 0.75rem !important;
  border: none !important;
  background-color: white !important;
  margin: 0;
  padding: 0;
  height: 40px !important;
  width: 40px !important;
}

#locationCustomButton:hover{
  border-radius: 0.75rem !important;
}

#compassIcon{
  margin: 0;
}

#searchButton{
  height: 32px !important;
  width: 24px !important;
  padding: 0 !important;
  margin: 0 !important;
  background-color: #4d4d4d !important;
}

#searchButton.icon:hover{
  color: white !important;
}

#searchButton.icon{
  color: lightgray !important;
}

.ui.basic.vertical.buttons{
  height: 80px !important;
  width: 40px !important;
  border: none !important;
}

#searchInputButton{
  height: 48px !important;
  width: 48px !important;
  border: none !important;
  padding: 0;
}

#searchRouteButton{
  height: 48px !important;
  width: 48px !important;
  border: none !important;
  border-top-right-radius: 12px !important;
  border-bottom-right-radius: 12px !important;
  padding: 0
  ;
}

.i.location.arrow.icon{
  height: 40px !important;
  width: 40px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.location.arrow.icon{
  height: 24px !important;
  width: 24px !important;
  margin: 0 !important;
}
.gray.compass.big.icon{
  height: 24px !important;
  width: 24px !important;
  margin: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

#compassCustomButton{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.75rem !important;
  border: none !important;
  background-color: white !important;
  margin: 0;
  padding: 0;
  height: 40px !important;
  width: 40px !important;
}

#toolbarButtonGroup{
  border-radius: 12px !important;
  background-color: white;
}

#toolbarButtons{
  display:flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.75rem !important;
  border: none !important;
  height: 40px !important;
  width: 40px !important;
  margin: 0;
  padding: 0;
  opacity: 0.8;
}

#toolbarButtons:hover{
  border-radius: 0.75rem !important;
  opacity: 1;
}

.i.icon{
  margin: 0 !important;
}
.ui.button:not(.icon)>.icon:not(.button):not(.dropdown) {
  margin: 0 !important;
}

#customButtonGroup{
  background-color: white;
  border-radius: 12px !important;
}
#searchCustomBtnGroup{
  background-color: white;
  border: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 12px !important;
  border-bottom-right-radius: 12px !important;
}

#searchInput{
  border: 0;
  border-radius: 0;
  height: 48px;
}


#searchRouteButton:hover{
  border-top-right-radius: 12px !important;
  border-bottom-right-radius: 12px !important;
}

#searchMarker{
  background-color: white;
  margin: 0;
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: context-menu;
  border-top-left-radius: 12px !important;
  border-bottom-left-radius: 12px !important;
}

#iconMarginPattern{
  margin: 0;
}
